<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Perfil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>




<div class="container">
    <div class="square">
        <img src="https://scontent.fgye7-1.fna.fbcdn.net/v/t39.30808-6/307151460_1119435525633574_3759895812461720270_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=3dKGvaGRWD4AX9HuWUZ&_nc_oc=AQm3JNE0F-_mUvnvK7MzXMEukPkNgSfofQsCRGu4k7wLgQ7qH62BeJvxqtMKPTCpBsE&_nc_ht=scontent.fgye7-1.fna&oh=00_AfBMe9fqJaTsfERoKT_eB-CPeDWXX5VZdrh_VM_P2vMpnA&oe=648B8527"
            width="50%" alt="Foto">
        <h1>Edward Vega</h1>
        <p>Naci el 19 de Junio del 2003<br>Mis padres son Xiomara Enriquez y Norman Vega<br>Tengo dos hermanos y una hermana.
            <br>Me gradue del Bachillerato en Ciencias Generales en el colegio de bachillerato Ismael Perez Pazmiño
            <br>Actualmente estoy cursando el 5to semestre de Tecnologias de la Información en la Universidad Tecnica de Machala
            <br>Intereses Actuales: Programación, Electronica, Base de Datos, Diseño Grafico.
            <br>Gustos Personales: Novelas Ligeras, Vocaloid, Anime/Manga, Dibujo, Acampar.</p>

    </div>
</div>